@page "/Certifications"

<PageTitle>Certifications</PageTitle>

<h1>My Certifications</h1>
<br />
<div class="text-center">
    <a href="https://www.credly.com/badges/3e356763-2ae5-4cde-84ab-0f15a2d112cb/public_url" target="_blank"><img src="af.png" class="img-fluid" alt="..." height="150" width="150"></a>
    <a href="https://www.credly.com/badges/c3295ce6-01d6-4e26-a26c-08a535898526/public_url" target="_blank"><img src="ad.png" class="img-fluid" alt="..." height="150" width="150"></a>
    <a href="https://www.credly.com/badges/b14d6d3f-4994-4321-ac68-bcffdab2b485/public_url" target="_blank"><img src="ai.png" class="img-fluid" alt="..." height="150" width="150"></a>
</div>
 