@page "/Hobbies"

<PageTitle>My Hobbies</PageTitle>

<div class="card">
    <h3 class="card-header">My Hobbies</h3>
    <div class="card-body">
        <h5 class="card-title">In my "Down-Time", im an avid Musician..</h5>
        <br />
        <div class="text-center"></div>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                      <div class="row g-0">
                             <div class="col-md-4">
                                <img src="dm.jpg" class="img-fluid rounded-start" alt="...">
                            </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">Musician Since Birth</h5>
                                <p class="card-text">As a Music "Enthusiast"", I grew up in Church and fell in Love with the Drums</p>
                          </div>
                        </div>
                     </div>
                </div>
            </div>
        
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <video class="img-fluid rounded-start" alt="..." controls autoplay><source src="dm.mp4" type="video/mp4" /></video>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Drums is My Passion!</h5>
                                <p class="card-text">When Im not behind a Computer, I Love to grab my Headphones and play my Favourite Tunes!</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

