@page "/"

<PageTitle>Index</PageTitle>
<h9>Aspiring Cloud Engineer</h9>
<h1>Obsessed With The Cloud!</h1>

<p>Hello World!, My Name is Nathaniel Bedassie and i love the cloud!! If you want some proof check out some of my projects!</p>
<br/>
<br/>
<br/>
<h1>What I'm Working on -</h1>
<br />
<div class="card" style="width: 18rem;">
  <img src="sc.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Microsoft Security and Compliance</h5>
    <p class="card-text">In the Process of Completing this Certification</p>
  </div>
</div>
