@page "/Projects"
<PageTitle>My Projects</PageTitle>

<div class="card">
    <div class="card-header"> 
        <h3 class="rounded float-start">My Projects</h3><a href="https://github.com/nathanielbedassie" target="_blank"><img src="gh.svg" class="rounded float-end" alt="..." height="30" width="30"</a>
    </div>
    <div class="card-body">
        <div class="card-body">
            <center><h4 class="card-title">See What Ive Been Up To!</h4></center>
        </div>
        <center>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @*------------Asp.Net core App----------------------------------*@
            <div class="col">
                <div class="card h-100" style="width: 18rem;">
                    <img src="/net.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Asp .NET Core Website</h5>
                        <p class="card-text">A CMS (Content Management System) Website Designed for a Local Government Enity for File Management, backed by a MSSQL Database.<br /><small class="text-muted">Created Nov 2022</small></p>

                    </div>
                    <ul class="list-group list-group-flush">
                        <a href="https://drive.google.com/file/d/1_2aLRhtPWKAFBUR83Z3pu2tsWj9LjpaQ/view?usp=share_link" target="_blank" class="list-group-item list-group-item-action active" aria-current="true">
                            View Documentation
                        </a>
                    </ul>
                    <div class="card-body">
                        <a href="https://github.com/nathanielbedassie/DynaParseWebsite" target="_blank"><img src="gh.svg" alt="..." height="30" width="30" class="list-group-item-action"></a>
                    </div>
                </div>
            </div>
            @*------------Oracle Apex Kiosk---------------------------------*@
            <div class="col">
                <div class="card h-100" style="width: 18rem;">
                    <img src="/oc.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Oracle APEX Application</h5>
                        <p class="card-text">An Oracle Aplication designed for a Kiosk in a University for Student Information Management using Oracle Database and Oracle Cloud as a collaboative project.<br /><small class="text-muted">Created Dec 2022</small></p>

                    </div>
                    <ul class="list-group list-group-flush">
                        <a href="https://drive.google.com/file/d/1OEehoVtPNQWSVjXjgt1lWgesJuxdctwD/view?usp=share_link" target="_blank" class="list-group-item list-group-item-action active" aria-current="true">
                            View Documentation
                        </a>
                    </ul>
                    <div class="card-body">
                        <a href="https://apex.oracle.com/pls/apex/r/sdmdpg4sik/group4-student-kiosk-v1-2/login?session=103954922200523" target="_blank"><img src="wb.svg" alt="..." height="30" width="30" class="list-group-item-action"></a>
                    </div>
                </div>
            </div>
            @*--------------Azure Power Automate Flow------------------------------------*@
            <div class="col">
                <div class="card h-100" style="width: 18rem;">
                    <img src="/pa.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Power Automate Ai Flow</h5>
                        <p class="card-text">A Power Automate workflow integrated with Ai Modeling for form data extraction and data warehousing, for a Local Government Enity<br /><small class="text-muted">Created Sep 2022</small></p>

                    </div>
                    <ul class="list-group list-group-flush">
                        <a href="https://drive.google.com/file/d/13LzyGMczHbbDfsIKgHzZeg6MOhyI1Bm_/view?usp=share_link" target="_blank" class="list-group-item list-group-item-action active" aria-current="true">
                            View Documentation
                        </a>
                    </ul>
                    <div class="card-body">
                        <a href="https://drive.google.com/drive/folders/1nNPUZZe90MvcgyKXgHclvm6IHxkm7Yv6?usp=share_link" target="_blank"><img src="cl.svg" alt="..." height="30" width="30" class="list-group-item-action"></a>
                    </div>
                </div>
            </div>
        </div>
        </center>
    </div>
</div>
