@page "/Resume"

<PageTitle>Resume</PageTitle>

<div class="card">
    <h3 class="card-header">My Resume</h3>
    <div class="card-body">
        @*--------------Header------------------------------------------------*@
        <h3 class="card-title">Nathaniel Bedassie</h3>
        <div class="text-left">
            <small>nathanielbedassie.azurewebsites.com</small> <br />
            <small>github.com/nathanielbedassie</small> <br />
            <small>linkedin.com/in/nathaniel-bedassie-31b722159/</small>
        </div>
        <br />
        @*------------Body-----------------------------------------------------*@
        <center><h4>Work Experience</h4></center><br />
            @*---Summer Intern------------------*@
            <h5>Summer Intern</h5><p><small><b>Princes Town Regional Corporation</b></small><small><i> (July 2022 - Sept 2022)</i></small><br />
                 <small><b>Secretariat Department</b></small><br />
                 <small>Primarily Clerical Duty with occasional assistance to the I.T Department by means of assisting in Infrastructure ,Sytem Maintenance and Upgrades.</small><br />
                 <small>Integrated <u>Microsoft's Power Automate</u> into the workflow of the organisation,using A.I for rapid digitisation of Data.<i> (see my projects)</i></small></p>
            
             @*---Valve Maintenance Technician Trainee----*@
            <h5>Valve Maintenance Technician Trainee</h5><p>
                <small><b>Valcom EMI Ltd.</b></small><small><i> (Aug 2021 - Feb 2022)</i></small><br />
                <small><b>Data Engineering</b></small><br />
                <small>Primarily Technical Valve Mantenance with frequent assistance to Engineering Department by means of Engineering Data from Plant Instrumentation Diagrams to aid in Plant Maintenance ands T.A.R Operations.</small><br />
                <small>Integrated <u>OCR Software</u> into the workflow of the organisation for Data Extraction to eliminate manual traversing of Plant Blueprints.<i> (see my projects)</i></small>
            </p>
            <br />
            
        <center><h4>Education</h4></center><br />
            @*------Bachelors Degree-------*@
            <h5>BSc (Hons) Information Technology</h5><p>
                <small><b>University of Bedfordshire</b></small><small><i> (Sept 2022 - July 2024)</i></small><br />               
            </p>
            
            @*--------Certificate in Process Operations----*@
            <h5>Certificate in Process Operations</h5><p>
                <small><b>University of Trinidad & Tobago</b></small><small><i> (Sept 2020 - July 2021)</i></small><br />
                <small>3.51 GPA</small>
            </p>
            
            @*-------C.A.P.E-----------------------------*@
            <h5>C.A.P.E Diploma (12 Units)</h5><p>
                <small><b>St. Stephens College</b></small><small><i> (Sept 2018 - July 2020)</i></small>
                <li><small>Communication Studies</small></li>
                <li><small>Caribbean Studies</small></li>
                <li><small>Information Technology</small></li>
                <li><small>Economics</small></li>
                <li><small>Law</small></li>
                <li><small>Management of Business</small></li>
                <li><small>Entrepreneurship</small></li>
            </p>
            
            @*-------C.S.E.C-----------------------------*@
            <h5>C.S.E.C Certificate (8 Subjects)</h5><p>
                <small><b>San Fernando Central Secondary School</b></small><small><i> (Sept 2013 - July 2018)</i></small>
                <li><small>Mathematics</small></li>
                <li><small>English A</small></li>
                <li><small>Information Technology</small></li>
                <li><small>Geography</small></li>
                <li><small>P.E</small></li>
                <li><small>History</small></li>
                <li><small>H.S.B</small></li>
                <li><small>P.O.B</small></li>
            </p>
           <br />
          <center><h4>Volunteer Experience</h4></center><br />
                @*------Church Drummer----------------*@
                <h5>Church Drummer & Steelpan Soloist</h5><p>
                <small><b>Cunjal Open Bible Church</b></small><small><i> (Dec 2021 - Present)</i></small><br />
                <small>Contact ###</small>
                </p>
                
                @*------AOK Graphic Designer----------------*@
                <h5>Graphic Designer</h5><p>
                <small><b>Act of Kindness</b></small><small><i> (Sep 2021)</i></small><br />
                <small>Contact ###</small>
                </p>
                
                @*------Church Drummer-----------------*@
                <h5>Church Drummer & Steelpan Soloist</h5><p>
                <small><b>Barrackpore #4 Open Bible Church</b></small><small><i> (Aug 2022 - Present)</i></small><br />
                <small>Contact ###</small>
                </p>
                
                @*------Church Drummer-----------------*@
                <h5>Church Drummer & Steelpan Soloist</h5><p>
                <small><b>First Church of the Open Bible</b></small><small><i> (Dec 2022)</i></small><br />
                <small>Contact ###</small>
                </p>
                
                 @*------SFAS Volunteer-----------------*@
                <h5>Vounteer</h5><p>
                <small><b>Sixth Formers Association Services (S.F.A.S)</b></small><small><i> (Aug 2020)</i></small><br />
                <small>Contact ###</small>
                </p>
                
                @*------Sound Engineer-----------------*@
                <h5>Sound Engineer</h5><p>
                <small><b>Rapture Ready Penticostal Holiness Ministries</b></small><small><i> (Dec 2015 - Aug 2020)</i></small><br />
                <small>Contact ###</small>
                </p>
                
                @*------IT Technician-----------------*@
                <h5>I.T Technician</h5><p>
                <small><b>A Brighter T&T Foundation</b></small><small><i> (Dec 2013 - Present)</i></small><br />
                <small>Contact ###</small>
                </p>
                <br />
        <center><h4>References</h4></center><br />
            <h5>Imrit Ramnanan</h5><p>
                <small><b>Firefighter</b></small><br />
                <small>Contact: +1(868)4800072</small><br />
                <small>Address: #636 Cipero Road, Borde Narve, San Fernando</small><br />
                <small>Email: imrit81@yahoo.com</small><br />
            </p>
            
            <h5>Sharon Benjamin</h5><p>
                <small><b>School Principal</b></small><br />
            <small>Contact: +1(868)6536380 </small><br />
            <small>Address: #56, Seukeran Street, Les Efforts West, San Fernando</small><br />
            <small>Email: sanfernandoobk@gmail.com</small><br />
            </p>
            <br />


    </div>
</div>
