@page "/Resume"

<PageTitle>Resume</PageTitle>

<div class="card">
    <h3 class="card-header">My Resume</h3>
    <div class="card-body">
        <h5 class="card-title">You Can Download my Resume</h5>
        <div class="text-center">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank"> <h4>Here</h4></a>
        </div>
    </div>
</div>
