@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="mailto:nathaniel.bedassie@outlook.com" target="_blank"><img src="ol.svg" class="img-fluid" alt="..." height="30" width="30"</a>
            <h8>Email: bedassie.nathaniel@gmail.com</h8>
            <a href="https://www.linkedin.com/in/nathaniel-bedassie-31b722159" target="_blank"><img src="ld.svg" class="img-fluid" alt="..." height="30" width="30"</a>
            <a href="https://github.com/nathanielbedassie" target="_blank"><img src="gh.svg" class="img-fluid" alt="..." height="30" width="30"</a>

        </div>
            
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
